
.navbar {
    height: 80px;
    .wrapper{ //horizontal and seperates left center right div
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item{ //common name of left&right no need to nest
            display: flex;
            align-items: center;
            font-size: 18px;
        }
        .left{
            display: flex;
            align-items: center; //vertical centering
            gap: 25px;
        }
        .center{
            font-size: 30px;
            letter-spacing: 4px;
        }
        .right{
            display: flex;
            align-items: center;
            gap: 25px;
            .icons{
                display: flex;
                gap: 15px;
                color: #777;
                cursor: pointer;

                .cartIcon{
                    position: relative; //need for absolute

                    span{
                        font-size: 12px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: goldenrod;
                        color: white;
                        position: absolute;
                        right: -10px;
                        top: -10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

    }
}